{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div style="margin-bottom: 10px " class="clearfix">
        <div style="float: left; ">
            <ul class="nav navbar-nav navbar-right">
      </ul>
        </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          学生信息列表
      </div>
        <table class="table table-bordered" style="text-align: center;">
            <thead>
              <tr>
                <th>年级</th>
                <th>学生</th>
                <th>账号</th>
                <th>时间</th>
                <th>识字总数</th>
                <th>正确率</th>
                <th>分数</th>
                <th>错误个数</th>
                <th>错误汉字</th>
              </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
              <tr>
                <th>{{obj.grade }}</th>
                <th>{{obj.name}}</th>
                <th>{{obj.stu_account}}</th>
                <th>{{obj.exercise_time|date:"Y-m-d H:i"}}</th>
                <th>{{obj.total_num}}</th>
                <th>{{obj.accuracy_rate}}</th>
                <th>{{obj.right_num }}</th>
                <th>{{obj.wrong_num}}</th>
                <th>{{obj.wrong_characters}}</th>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    <div>
{#        <input type="text" id="start" placeholder="起始时间">#}
{#            <input type="text" id="end" placeholder="终止时间">#}
            <button id="download" class="btn btn-success">导出为Excel</button>
    </div>
    <ul class="pagination">
        {{ page_string }}
     </ul>
</div>


{% endblock %}

{% block js %}
    <script>
    $(function(){
        $('#start').datepicker({
            format:"yyyy-mm-dd",
            startDate:'2023-3-8',
            language: 'zh-CN',
            autoclose: true
        })
        $('#end').datepicker({
            format:"yyyy-mm-dd",
            startDate:'2023-3-8',
            language: 'zh-CN',
            autoclose: true
        })
    })
    const btn = document.querySelector("#download");
    btn.onclick = () =>{
    const req = new XMLHttpRequest();
    req.open('POST', '/download/10/', true);
    req.responseType = 'blob';
    req.setRequestHeader('Content-Type', 'application/json'); //设置请求头
    const body = {}
    req.send(body); //输入参数
    req.onload = function() {
         const data = req.response;
         const a = document.createElement('a');
         const blob = new Blob([data]);
         const blobUrl = window.URL.createObjectURL(blob); //创建下载的链接
         a.href = blobUrl;
         a.download = '临时测试.xls'; //下载后文件名
         a.click();
    };
}
    </script>
{% endblock %}