{% extends 'layout.html' %}

{% block content %}
    <div class="container">
    <div style="margin-bottom: 10px " class="clearfix">
      <div style="float: right; width: 300px;" >
          <form method="get">
          <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="输入查询内容" value="{{search_data}}">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          音频识别结果
      </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>测试学生</th>
                <th>识别目标</th>
                <th>识别结果</th>
                <th>测试时间</th>

              </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
              <tr>
                <th>{{ obj.stu }}</th>
                <th>{{ obj.target }}</th>
                <th>{{ obj.result }}</th>
                <th>{{ obj.exercise_time|date:"Y-m-d H:i" }}</th>
              </tr>
            {% endfor %}
            </tbody>
          </table>

      </div>
    <div>
            <button id="download" class="btn btn-success">导出为Excel</button>
    </div>
    <ul class="pagination">
        {{ page_string }}
     </ul>
</div>
{% endblock %}

{% block js %}
    <script>
        const btn = document.querySelector("#download");
        btn.onclick = () =>{
            const req = new XMLHttpRequest();
            req.open('POST', '/download/9/', true);
            req.responseType = 'blob';
            req.setRequestHeader('Content-Type', 'application/json'); //设置请求头
            const body = {}
            req.send(body); //输入参数
            req.onload = function() {
                 const data = req.response;
                 const a = document.createElement('a');
                 const blob = new Blob([data]);
                 const blobUrl = window.URL.createObjectURL(blob); //创建下载的链接
                 a.href = blobUrl;
                 a.download = '音频识别结果.xls'; //下载后文件名
                 a.click();
            };
        }
    </script>
{% endblock %}