{% extends 'layout_stu.html' %}

{% block content %}

<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          阅读流畅性测试
      </div>
        <table class="table table-bordered" style="text-align: center;">
            <thead>
              <tr>
                <th>测试时间</th>
                <th>识别总字数</th>
                <th>识字正确率</th>
                <th>识别错误汉字</th>
                <th>分数</th>
                <th>测试用时(秒)</th>
                <th>平均阅读速度(个/秒)</th>
                <th>判断语句个数</th>
                <th>判断语句正确率</th>
              </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
              <tr>
                <th>{{obj.exercise_time|date:"Y-m-d H:i"}}</th>
                <th>{{obj.total_characters}}</th>
                <th>{{obj.accuracy_rate}}</th>
                <th>{{obj.wrong }}</th>
                <th>{{obj.score}}</th>
                <th>{{obj.test_time}}</th>
                <th>{{obj.avg_speed}}</th>
                <th>{{obj.judge_all}}</th>
                <th>{{obj.judge_accuracy}}</th>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    <ul class="pagination">
        {{ page_string }}
     </ul>
</div>


{% endblock %}