{% extends 'layout_stu.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
          <h1>欢迎使用阅读能力评测系统</h1>
          <a type="button" class="btn btn-danger btn-lg btn-block" href="/test/voice/">设备音频测试</a>
          <a type="button" class="btn btn-warning btn-lg btn-block" href="/test/correct/">阅读准确性模拟测试</a>
          <a type="button" class="btn btn-warning btn-lg btn-block" href="/test/fluency/">阅读流畅性模拟测试</a>
          <a type="button" class="btn btn-primary btn-lg btn-block" href="/stu/testOneIntroduction/"> 阅读准确性测试 </a>
          <a type="button" class="btn btn-info btn-lg btn-block" href="/stu/testTwoIntroduction/"> 阅读流畅性测试一 </a>
          <a type="button" class="btn btn-success btn-lg btn-block" href="/stu/testThreeIntroduction/"> 阅读流畅性测试二 </a>
        </div>

    </div>
{% endblock %}
{% block css %}
    <style>
    h1{
        text-align: center;
        margin-top: 10%;
        margin-bottom: 15%;
    }
    p{
        text-align: center;
    }
    #test{
        text-align: center;
        margin-top: 20%;
        margin-left:auto;
    }
    button{
        width: 100%;
    }
    </style>
{% endblock %}