{% extends 'layout_stu.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
          <h1>欢迎使用阅读能力评测系统</h1>
        </div>
        <a type="button" class="mycss btn btn-primary btn-lg btn-block" href="/stu/testOne/"> 阅读准确性测试 </a>
{#        <a type="button" class="mycss btn btn-success btn-lg btn-block" href="#"> 阅读流畅性测试一 </a>#}
        <a type="button" class="mycss btn btn-success btn-lg btn-block" href="/stu/testThree/"> 阅读流畅性测试 </a>
    </div>
{% endblock %}
{% block css %}
    <style>
    h1{
        text-align: center;
        margin-bottom: 30%;
    }
    p{
        text-align: center;
    }
    #test{
        text-align: center;
        margin-top: 20%;
        margin-left:auto;
    }
    button{
        width: 100%;
    }
    </style>
{% endblock %}