 {% extends 'layout_stu.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="jumbotron area" >
        <div id="exercise-area">
            <label id="exercise">词语</label>
        </div>
        <div class="answer-area">
            <button type="button" class="btn btn-primary btn-lg " onclick="countTime()"> 时间 </button>
            <button type="button" class="btn btn-info btn-lg" id="differ_time">00:00</button>
            <button type="button" class="btn btn-success btn-lg " id="next_exercise">下一组</button>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
     *{
        border: 0;
        padding: 0;
        margin: 0;
    }
    label{
        margin-top: 10%;
        font-size: 180px;
        text-align: center;
        margin-left: 30%;
        vertical-align: middle;
        padding-bottom: 0;
    }
    #next_exercise{
        float: right;
    }
    .area{
        height: 720px;
    }
    .answer-area{
        margin-top: 200px;
    }
</style>
{% endblock %}

{% block js %}
<script>
    $(function(){
      getExerciseList();
    })
    let isStart = true;
    let start = new Date();
    let begin = false;

    let info = {"total": 0, "right": 0, "time": 0, "wrong": ""};
    let cur_time = new Date();
    let name = "";
    name = cur_time.getFullYear().toString() + cur_time.getMonth().toString() + cur_time.getDay().toString() + cur_time.getHours().toString()
    + cur_time.getMinutes().toString() + cur_time.getSeconds().toString();

    const file_name = () => {
        cur_time = new Date();
        name = cur_time.getFullYear().toString() + cur_time.getMonth().toString() + cur_time.getDay().toString() + cur_time.getHours().toString()
    + cur_time.getMinutes().toString() + cur_time.getSeconds().toString();
        return name;
    };

    let group = 0;

    // 计时模块
    function countTime(){
        const now = new Date();
        if(isStart)
        {
            isStart=false;
            start=now;
        }
        let differ_s = parseInt((now - start) / 1000 % 60);
        let differ_m = parseInt((now - start) / 1000 / 60);
        differ_m = checkTimeFormat(differ_m);
        differ_s = checkTimeFormat(differ_s);
        document.getElementById('differ_time').innerText = differ_m + ":" + differ_s;
        t = setTimeout(function(){countTime()},500);
    }
    // 获取当前已经经历的时间
    function getTime(){
        const now = new Date();
        let differ_s = (now - start) / 1000 % 60;
        let differ_m = (now - start) / 1000 / 60;
        differ_m = checkTimeFormat(differ_m);
        differ_s = checkTimeFormat(differ_s);

        return differ_m + ":" + differ_s;
    }

    function getSeconds(){
        const now = new Date();
        return parseInt((now - start) / 1000);
    }

    function checkTimeFormat(i){
        if (i<10){
            i="0" + i;
        }
        return i;
    }

    let exercises = [];
    let idx = 0;
    let pre_exercise = {"phrase": "词语", len: 2};
    let cur_exercise = {"phrase": "词语", len: 2};
    function getExerciseList(){
        $.ajax({
            {#url: "/stu/exercise/list/1/",#}
            url: "/stu/exercise/list/3/",
            type: "post",
            success: function (resp){
                exercises = resp.list;
                console.log(exercises);
            },
            error:function(){
                {#console.log("error");#}
            }
        })
    }

    let recording = false;
    let wav_name = "";
    let wrong = "";

    function checkTime(){
        let time = getTime();
        {# 之前判断结束的标志 #}
        let flag = group > 12 || getSeconds() > 60;
        let new_flag = getSeconds() > 60 || idx >= exercises.length - 1;
        if(new_flag) {
            $.ajax({
                url: "/stu/uploadInfo/1/",
                type: "post",
                data: {
                    "total": info.total,
                    "right": info.right,
                    "wrong": info.wrong,
                    "time": info.time
                },
                success(res){
                    window.location.href="/stu/testTwoResult/";
                },
                error(){
                }
            })

        }

        const t = setTimeout(function () {
            checkTime()
        }, 1000);
    }

    if (navigator.mediaDevices.getUserMedia) {
    const constraints = { audio: true };
    navigator.mediaDevices.getUserMedia(constraints).then(
        stream => {
            const recordBtn = document.querySelector("#next_exercise");
            let mediaRecorder = new MediaRecorder(stream);
            var chunks = [];

            recordBtn.onclick = () => {

                if(begin === false){
                    begin = true;
                    countTime();
                    checkTime();
                }

                wav_name = name;
                name = file_name();

                {# 更新题目 #}
                {#pre_exercise = cur_exercise;#}
                {#cur_exercise = "";#}
                {#for (let i = group * 8; i < group * 8 + 8; i++) {#}
                {#    cur_exercise = cur_exercise.concat(exercises[i]);#}
                {#group = group + 1;#}
                
                pre_exercise = cur_exercise;
                cur_exercise = exercises[idx];
                idx ++;
                if(idx === exercises.length){
                    checkTime();
                }
                
                $('#exercise').text(cur_exercise["phrase"]);
                name = name + cur_exercise["phrase"];

                if (recording === false) {
                    recording = true;
                    mediaRecorder.start();
                    mediaRecorder.ondataavailable = function (e) {
                        chunks.push(e.data);
                    };
                } else {
                    mediaRecorder.stop();
                    mediaRecorder.onstop = e => {
                        var blob = new Blob(chunks, {type: "audio/mpeg;"});
                        chunks = [];
                        var audioURL = window.URL.createObjectURL(blob);

                        var fd = new FormData();
                        fd.append('wav_name', wav_name);
                        fd.append('file', blob);
                        console.log(blob);
                        var xhr = new XMLHttpRequest();
                        xhr.onreadystatechange = function () {
                            var jsonObject;
                            if (xhr.readyState === 4 && xhr.status === 200) {
                                jsonObject = JSON.parse(xhr.responseText);
                                //处理返回结果

                            }
                        };
                        xhr.open('POST', '/speech/save/');
                        xhr.send(fd);

                        mediaRecorder.start();
                        mediaRecorder.ondataavailable = function (e) {
                            chunks.push(e.data);
                        };
                    info.time = getSeconds();

                    $.ajax({
                        url: '/stu/recognition/4/',
                        type: 'post',
                        data: {
                            file_name: wav_name,
                            character: pre_exercise["phrase"]
                        },
                        success: function(res){
                            if(res.result !== "error")
                            {
                                info.total += pre_exercise["len"];
                                info.right += res.cnt;
                                info.wrong += res.wrong;
                                console.log(res);
                                console.log(info);
                            }else{
                                alert("音频识别错误");
                            }

                    },
                        error : function(){

                        }
                    })
                    }

                }
            }
        }
    )}

    </script>
{% endblock %}