{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阅读能力测试系统</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <style>
        .acc{
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow:5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }
        .account h2{
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="acc">
        <h3 style="text-align: center;">教师端登录</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label>账号</label>
                {{ form.tec_account }}
                <span style="color: red;">{{form.username.errors.0}}</span>
            </div>
            <div class="form-group">
                <label>密码</label>
                {{ form.tec_password }}
                <span style="color: red;">{{form.tec_password.errors.0}}</span>
            </div>
            <input type="submit" value="登 录" class="btn btn-primary">
        </form>
    </div>

    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>
</body>
</html>