{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div style="margin-bottom: 10px " class="clearfix">
        <div style="float: left; ">
            <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 排序规则 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/tec/1/testlist/">按成绩排序</a></li>
            <li><a href="/tec/2/testlist/">按姓名排序</a></li>
            <li><a href="/tec/3/testlist/">按类型排序</a></li>
          </ul>
        </li>
      </ul>
        </div>
      <div style="float: right; width: 300px;" >
          <form method="get">
          <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="输入学生姓名" value="{{search_data}}">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          学生信息列表
      </div>
        <table class="table table-bordered" style="text-align: center;">
            <thead>
              <tr>
                <th>年级</th>
                <th>学生</th>
                <th>账号</th>
                <th>测试时间</th>
                <th>测试类型</th>
                <th>测试分数</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
              <tr>
                <th>{{ obj.get_grade_display }}</th>
                <th>{{obj.stu_name}}</th>
                <th>{{obj.stu_account}}</th>
                <th>{{obj.time|date:"Y-m-d H:i"}}</th>
                <th>{{obj.get_test_type_display}}</th>
                <th>{{obj.score}}</th>
                <td>
                    <a class="btn btn-info  btn-xs "
                       href = "#"
                    >详细</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    <ul class="pagination">
        {{ page_string }}
     </ul>
</div>


{% endblock %}