{% extends 'layout_stu.html' %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
          <h1>设备音频测试</h1>
          <h2 id="target">目标汉字:</h2>
          <h3 id="state">录制状态: 未录制</h3>
          <h3 id="result">识别结果: 等待系统识别</h3>
          <h3 id="judge">判断结果: 等待系统判断</h3>
            <div style="text-align: center;">
                <button class="btn btn-primary btn-lg" role="button" id="record">开始录制</button>
                <button class="btn btn-success btn-lg" role="button" id="next">下一题</button>
            </div>

        </div>
    </div>

{% endblock %}
{% block css %}
    <style>
    h1{
        text-align: center;
        margin-bottom: 5%;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    #record{
        margin-top: 5%;
        text-align: center;
    }
    #next{
        margin-top: 5%;
        text-align: center;
    }
    #result{
        color: red;
    }
    #judge{
        color: orangered;
    }
    </style>
{% endblock %}
{% block js %}
    <script>

    let target = "字";
    let allowed = true;
    let recording = false;

    function GetExercise()
    {
        $.ajax({
            url: "/stu/exercise/list/4/",
            type: "post",
            success: function (resp){
                target = resp.character;
                $("#target").text("目标汉字: " + target);
                console.log("返回汉字: " + resp.character);
            },
            error:function(){
                console.log("error");
            }
        })
    }

    function GetWavName()
    {
        let cur_time = new Date();
        return cur_time.getFullYear().toString() + cur_time.getMonth().toString() + cur_time.getDay().toString() + cur_time.getHours().toString()
            + cur_time.getMinutes().toString() + cur_time.getSeconds().toString();
    }


    if (navigator.mediaDevices.getUserMedia) {
    const constraints = { audio: true };
    navigator.mediaDevices.getUserMedia(constraints).then(
        stream => {
            const recordBtn = document.querySelector("#next");
            const mediaRecorder = new MediaRecorder(stream);
            var chunks = [];
            recordBtn.onclick = () => {
                // 当前处于未录制状态
                if (recording === false && allowed === true) {
                    GetExercise();
                    allowed = false;
                    recording = true;

                    $("#state").text("录制状态: 录制中...");
                    $("#record").text("点击下一题结束录制");
                    $("#result").text("识别结果: 等待系统识别");
                    $("#judge").text("判断结果: 等待系统判断");
                    mediaRecorder.start();
                    mediaRecorder.ondataavailable = function (e) {
                        chunks.push(e.data);
                    };

                    console.log("录制中.......");
                }
                // 当前正在录制
                else if(recording === true)
                {
                    console.log("录制结束.............");

                    recording = false;
                    $("#state").text("录制状态: 录制结束,正在识别...");
                    $("#record").text("等待识别");
                    wav_name = GetWavName();

                    mediaRecorder.stop();
                    mediaRecorder.onstop = e => {
                        var blob = new Blob(chunks, {type: "audio/mpeg;"});
                        chunks = [];
                        var audioURL = window.URL.createObjectURL(blob);

                        var fd = new FormData();
                        fd.append('wav_name', wav_name);
                        fd.append('file', blob);
                        console.log(blob);
                        var xhr = new XMLHttpRequest();
                        xhr.onreadystatechange = function () {
                            var jsonObject;
                            if (xhr.readyState === 4 && xhr.status === 200) {
                                jsonObject = JSON.parse(xhr.responseText);
                                //处理返回结果

                            }
                        };
                        xhr.open('POST', '/speech/save/');
                        xhr.send(fd);

                    $.ajax({
                        url: '/stu/recognition/4/',
                        type: 'post',
                        data: {
                            file_name: wav_name,
                            target: target,
                            character: target
                        },
                        success: function(res){

                            // if(res.result === "err_msgerr_nosn;") alert("空音频");

                            console.log(res);
                            if(res.success === true){
                                $("#result").text("识别成功: " + res.result);
                                $("#judge").text("判断结果: " + res.msg);
                                $("#record").text("识别结束");
                                console.log("目标汉字: " + target);
                                console.log("识别结果: " + res.result);
                                allowed = true;
                            }else{
                                $("#result").text("识别失败：" + res.result);
                                $("#judge").text("判断结果: " + res.msg);
                                $("#record").text("识别结束");
                                console.log("识别结果: " + res.result);
                                allowed = true;
                            }
                        },
                        error: function(){
                            console.log("后台传输失败");
                        }
                    })
                    }
                }


            }
        }
    )}
    </script>
{% endblock %}