<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <title>My First HTML Page</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <p>This is my first HTML page.</p>
</body>

<script>
    console.log("控制台输出");
    arr = [{"ch":"a", "level":9},{"ch":"b", "level":9},{"ch":"c", "level":9},{"ch":"d", "level":9},]
    elem1 = {"ch":"a", "level":9};
    elem2 = {"ch":"e", "level":9};
    console.log(CheckElemInArr(arr, elem1));
    console.log(CheckElemInArr(arr, elem2));

    function CheckElemInArr(arr, tar){
        for(var elem of arr){
            if(elem["ch"] === tar["ch"]) return true;
        }
        return false;
    }


</script>
</html>