{% extends 'layout_stu.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="jumbotron" >
            <h1 style="text-align: center">阅读流畅性测试一</h1>
            <h3 style="text-align: left;margin-top: 10%;line-height: 2em;">&emsp;&emsp;<b>测试要求</b>：出声朗读屏幕上的词语，读完后，点击<b>下一题</b>按钮；如果不会读，也点击<b>下一题</b>按钮。准备好后，点击下方按钮进入测试。只给1分钟时间。</h3>
            <a type="button" class="btn btn-success btn-lg" href="/stu/testTwo/" style="margin-top: 25%;margin-left: 40%;">点击开始测试</a>
        </div>
    </div>

{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}