{% extends 'layout_stu.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="jumbotron" >
            <h1 style="text-align: center">阅读准确性测试</h1>
            <h3 style="text-align: left;margin-top: 10%;line-height: 3em; margin-bottom: 10%">&emsp;&emsp;<b>测试要求</b>：出声朗读屏幕上的字（多音字正确读出一种读音即可），读完后点击<b>空格</b>按键。如果遇到不会读的汉字，也点击<b>空格</b>按键。根据<b>语音提示</b>朗读下一个汉字。准备好后，点击<b>空格</b>进入测试。</h3>
{#            <a type="button" class="btn btn-success btn-lg" href="/stu/testOne/" style="margin-top: 25%;margin-left: 40%;">点击开始测试</a>#}
        </div>
    </div>

{% endblock %}

{% block js %}
<script>
    document.addEventListener("keydown", function(event) {
          if (event.key === " " || event.keyCode === 32) {
            // 空格键被按下
            event.preventDefault(); // 阻止默认的空格键行为（如滚动页面）
            handleSpacebarPress();
          }
        });

        function handleSpacebarPress() {
          window.location.href = "/stu/testOne/";
        }
</script>
{% endblock %}